<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="新阅是针对影音制作而研发的高效审核协作平台，通过沟通连接所有的视频编辑，发布和沟通工具，无需各种繁杂软件的切换，极大优化您团队的视频合作流程，整体提高制作效率。">
  <link rel="shortcut icon" href="/favicon.ico">
 
  <title>新阅</title>
  <!-- <link rel="stylesheet" href="/index.scss" /> -->
</head>
<body>
<div id="root"></div>
<!-- <div id="drop"></div> -->
<script>
  var ossSDK = document.createElement('script');
  if (navigator.userAgent.indexOf("Edge") > -1) {
    ossSDK.src = '//gosspublic.alicdn.com/aliyun-oss-sdk-4.10.0.min.js';
  } else {
    ossSDK.src = '//gosspublic.alicdn.com/aliyun-oss-sdk-4.4.4.min.js';
  }
  document.body.appendChild(ossSDK);
</script>
<!-- <script id="IE-babel" src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6"></script> -->
<!-- <script>
  var userAgent = navigator.userAgent
  if (!!window.ActiveXObject || "ActiveXObject" in window) {
     var sc = document.createElement('script');
     sc.src = 'https://cdn.polyfill.io/v2/polyfill.min.js?features=es6';
     document.body.appendChild(sc);
  }
  setTimeout(function() {
    var sc1 = document.createElement('script');
    sc1.src = './index.62cb3f59.js';
    document.body.appendChild(sc1);
  }, 50)
</script> -->
</body>
</html>
