.file-container{
    position: relative;
    width: 100%;
    height: 100%;
    height: calc(100vh);
    background: #111215;
    box-sizing: border-box;
    padding-right: 340px;
    // padding-top: 75px;
    padding-top: 63.8px;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    overflow: hidden;

    .ant-slider-vertical:hover{

        .ant-slider-handle{
            border: 2px solid #50E3C2;
        }
    
        .ant-slider-track{
            background-color: #50E3C2;
        }
        
    }

    .ant-slider-handle{
        border: 2px solid #50E3C2;
    }

    .ant-slider-track{
        background-color: #50E3C2;
    }
    
    &.is-share{
        padding-top:0;
        padding-left: 220px;
    }

    .file-password-container{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top:0;
        background: #454b5c;
        z-index:100;

        .file-password-body{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 430px;
            height: 378px;
            background: #fff;
            border-radius: 6px;

            .link-lock{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 72px;
                height: 72px;
                border: 2px solid #8b95b0;
                border-radius: 50%;
                margin-bottom:30px;
            }
    
            p{
                font-size: 18px;
            }
    
            input {
                width: 350px;
                line-height:40px;
                border:0;
                border-bottom: 1px solid  #000;
                margin-bottom: 20px;
                outline: none;
                text-align: center;
            }
        }
    }
}