.modal-btn{
    background: #0345C7;
    box-shadow: 1px 2px 7px 0 #5A87F9;
    width: 100%;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    line-height: 45px;
    height: 45px;
    border-radius: 8px;
    border: 0;
}