.ps-create{
    width: 100%;
    // max-height: 465px;
    // overflow: auto;
    // padding-bottom: 80px;

    p{
        margin:0;
        padding:0;
    }

    .ps-create-intro{
        height:34px;
        margin:0 -20px;
        background: #E6E9EB;
        line-height: 34px;
        padding:0 20px;
        color: #9b9b9b;
        font-size: 16px;
    }

    .ps-create-name{
        border: 1px solid rgba(3,69,199,0.4);
        border-radius: 4px;
        overflow: hidden;

        input{
            width: 100%;
            box-sizing: border-box;
            padding: 0 10px;
            border:0;
            line-height:40px;
            height: 40px;
            outline: none;
        }
    }

    .ps-create-group{

        .ps-create-group-li{
            position: relative;
            border-bottom: 1px solid #E6E9EB;
            height:46px;
            width: 100%;
            padding-left:30px;

            .ps-create-li-help{
                position: relative;
                display: inline-block;
                width: 25px;
                height: 25px;
                margin-top:10px;
                margin-left: 5px;
                text-align: center;
            }

            &:last-of-type{
                border-bottom: 0;
            }

            p{
                float: left;
                max-width: 60%;
                height:46px;
                line-height:46px;
                color:#4A4A4A;
                font-size: 15px;
            }

            .ps-create-li-switch{
                display: flex;
                justify-content: flex-end;
                float: right;
                align-items: center;
                height:100%;
                width:30%;

                .ant-switch{
                    background-color: #d7dbde;
                }

                .ant-switch-checked{
                    background-color: #00CC96;
                }
            }

            .ps-create-label-list{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height:100%;
                float: right;
                width: 50%;
                margin:0;

                li{
                    width: 18px;
                    height:18px;
                    box-sizing: border-box;
                    padding: 1px;
                    border-radius: 50%;
                    border: 1px solid transparent;
                    margin-left: 8px;
                    cursor: pointer;

                    &.active {
                        border: 1px solid #FF635D;
                    }
                    
                    &:after{
                        content:'';
                        display: block;
                        position: relative;
                        width:100%;
                        height:100%;
                        border-radius:50%;
                    }

                    &:nth-of-type(1).active{
                        border: 1px solid #FF635D;
                    }

                    &:nth-of-type(2).active{
                        border: 1px solid #F9A746;
                    }

                    &:nth-of-type(3).active{
                        border: 1px solid #F5CE4A;
                    }

                    &:nth-of-type(4).active{
                        border: 1px solid #5B53FF;
                    }

                    &:nth-of-type(5).active{
                        border: 1px solid #4BB9F4;
                    }

                    &:nth-of-type(6).active{
                        border: 1px solid #50E3C2;
                    }

                    &:nth-of-type(1):after{
                        background: #FF635D;
                    }
                    
                    &:nth-of-type(2):after{
                        background: #F9A746;
                    }

                    &:nth-of-type(3):after{
                        background: #F5CE4A;
                    }

                    &:nth-of-type(4):after{
                        background: #5B53FF;
                    }

                    &:nth-of-type(5):after{
                        background: #4BB9F4;
                    }

                    &:nth-of-type(6):after{
                        background: #50E3C2;
                    }
                }
            }
        }
    }

    .ps-select-date{
        float: right;
    }

    .ps-select-date-p{
        float: left;
        line-height: 30px;
        color: #4A4A4A;
        font-size: 15px;
    }

}

.ps-create-footer{
    display: flex;
    height:100%;
    justify-content: center;
    align-items: center;
    width:100%;
    padding: 0 20px;
    box-sizing: border-box;

    button{
        cursor: pointer;
        color:#fff;
        font-size:17px;
        line-height: 45px;
        height:45px;
        border-radius: 8px;
        border: 0;
    }

    .create{
        background: #0345C7;
        box-shadow: 1px 2px 7px 0 #5A87F9;
        width: 100%;
        width:100%;
    }

    .delete{
        width:260px;
        height:56px;
        background: #F35656;
        box-shadow: 1px 2px 7px 0 #F35656;
        margin-right:32px;
    }

    .save {
        width:260px;
        height:56px;
        background: #0345C7;
        box-shadow: 1px 2px 7px 0 #5A87F9;
    }

}

.ps-share{
    height: 481px;

    p{
        padding:0;
        margin:0;
    }

    .ps-share-part1{
        position: relative;
        height: 30px;
        padding-left:40px;
        margin-bottom: 16px;

        img{
            position: absolute;
            left:0;
            top:0;
            width: 30px;
            height: 30px;
        }

        p{
            line-height:30px;
            color: #4a4a4a;
            font-size: 16px;
        }
    }

    .ps-share-part2{
        border: 1px solid rgba(3,69,199,0.3);
        border-radius: 4px;
        padding: 0 12px;
        line-height: 40px;
        cursor: pointer;
        margin-bottom: 16px;

        .ps-share-copy{

            p{
                line-height: 40px;
                height:40px;
    
                &:first-of-type{
                    float: left;
                    color: #4A90E2;
                    font-size: 15px;
                }
                
                &:last-of-type{
                    float: right;
                    box-sizing: border-box;
                    width:110px;
                    padding-left: 10px;
                    color:#4a4a4a;
                    font-size:15px;
                    height:30px;
                    line-height: 30px;
                    margin-top: 5px;
                    border-left: 1px solid rgba(3,69,199,0.3);
                }
            }
        }

        .ps-share-copyed{
            color: #4A90E2;
            font-size: 15px;
            text-align: center;
            line-height: 40px;
            height:40px;
        }
    }

    .ps-share-part3{
        line-height: 35px;
        margin-bottom: 16px;

        p{
            display: inline-block;

            &:last-of-type{
                border: 1px solid #4A90E2;
                border-radius: 3px;
                padding: 0 12px;
                margin-left:10px;
            }
        }
    }

    .ps-share-part4{
        position: relative;
        padding-left:40px;
        margin-bottom: 16px;
        
        img{
            position: absolute;
            left:0;
            top:0;
            width:30px;
            height:30px;
        }

        p{
            line-height: 30px;
            font-size: 16px;
            color: #4a4a4a;
        }
    }

    .ps-share-part5{
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(210,210,210,0.10);
        padding:12px 0;

        img{
            width:266px;
            height:254px;
            background: #fff;
            mix-blend-mode:multiply;
        }
    }



}
