.mobileFileInfo-box{
  width: 100%;
  height: 100%;
  background: #010101;
}

.mobileFileInfo-container{
  width: 100%;
  height: 100%;
  // padding: 12px;
  background: #010101;
  box-sizing: border-box;
  overflow: auto;
  color: #fff;
  .section{
    width: 100%;
    height: 210px;
    position: relative;
    .cover-img{
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 999;
      background:#171D29;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        height: 100%;
      }
      .play-logo{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        position: absolute;
        left: 0;top:0;right:0;bottom:0;margin: auto;
        border: 2px solid #fff;
        background: rgba(0,0,0,0.4);
        display: flex;
        justify-content: center;
        align-items: center;
        .sanjiao{
          width: 0;
          height: 0;
          margin-left: 5px;
          border-top: 12px solid transparent;
          border-left: 18px solid #fff;
          border-bottom: 12px solid transparent;
        }
      }
    }
    video{
      width: 100%;
      height: 100%;
    }
    audio{
      width: 100%;
      height: 100%;
    }
    img{
      display: block;
      height: 100%;
      margin: 0 auto;
    }
  }
  .video-info{
    position: relative;
    height: 60px;
    padding: 0px 12px 0 0;
    background: #121212;
    overflow:hidden;
    z-index: 100;
    .video-make{
      float: left;
      padding:15px 10px;
      width: 60%;
      .video-make-li{
        float: left;
        margin-right: 5px;
        position: relative;
        padding: 5px 20px 5px 5px;
        background: #2d303e;
        border-radius: 3px;
        .video-make-status{
          font-size: 13px;
          color: #fff;
        }
        .video-make-arrow{
          position:absolute;
          right: 5px;
          top: 11px;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 8px solid #fff;
        }
      }
    }
    .video-author {
      float: right;
      width: 40%;
      display: block;
      height: 60px;
      line-height: 60px;
      color: #6b6b77;
      font-size:12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: right
    }
  }

  .info-footer-comment-btn{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 74px;
    background: #161515;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px 60px 20px 12px;
    .info-footer-comment-btn-body{
      position: relative;
      height:44px;
      width: 100%;
      background: #292A2F;
      padding-left: 12px;
      border-radius: 22px;
      box-sizing: border-box;
      .comment-btn-text{
        float: left;
        font-size: 14px;
        line-height: 44px;
        color: #787e8e;
      }
    }
    .comment-comment-count{
      position: absolute;
      right: 10px;
      top: 10px;
      height: 44px;
      width: 44px;
      background: #292A2F;
      border-radius: 50%;
      text-align: center;
      line-height: 44px;
      color: #9b9b9b;
      font-size: 12px;
    }
  }
  .info-cover{
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index:1000;
    .info-cover-mask{
      width: 100%;
      height: 100%;
      // background: #ccc;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    }
    .info-cover-select{
      position: absolute;
      left: 10px;
      top:280px;
      width: 355px;
      min-height: 100px;
      background: #f5f5f5;
      z-index:1001;
      padding: 10px;
      border-radius: 5px;
      animation: selectAni 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0ms forwards;
      .info-arrow{
        position: absolute;
        // left: 10px;
        top: -11px;
        width: 30px;
        height: 30px;
        background: #f5f5f5;
        border-radius: 3px;
        transform: rotate(45deg);
      }
      .info-cover-select-ul{
        width: 100%;
        padding: 0;
        .version-p-li{
          border-bottom: 1px solid #e1e1e1;
          padding:5px 0;
          color: #99999a;
          overflow: hidden;
          &:last-child{
            border-bottom: 0;
          }
          .version-name{
            text-align: center;
            line-height: 30px;
          }
          .video-name{
            text-align: center;
            font-size: 12px;
          }
        }
        .status-name {
          text-align: center;
          font-size: 15px;
          height: 40px;
          line-height: 30px;
        }
      }

    }
  }
  @keyframes selectAni{
    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1)
    }
  }
  .comment-box{
    width: 100%;
    height: auto;
    .comment-footer{
      position: relative;
      width: 100%;
      /* height: 30px; */
      background: #171d29;
      padding: 0 52px;
      z-index:1;
      height:45px;
      .comment-footer-left{
        position: absolute;
        left: 0;
        top: 0;
        height: 45px;
        width: 52px;
        line-height: 45px;
        color: #fff;
        font-size: 15px;
        opacity: 0.6;
        box-sizing: border-box;
        padding-left: 12px;
      }
      .comment-footer-time{
          height: 45px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          color: #fff;
          font-size: 14px;
          text-align: center;
          line-height: 45px;
      }
      .comment-footer-right{
          position: absolute;
          right: 0;
          top: 0;
          height: 45px;
          width: 52px;
          line-height: 45px;
          text-align: right;
          color: #fff;
          font-size: 15px;
          opacity: 0.6;
          box-sizing: border-box;
          padding-right: 12px;
          /* color: #117AEA; */
      }
    }
    .push-comment-input{
      display: flex;
      height: 100%;
      background: #010101;
      textarea{
        width: 100%;
        background: #010101;
        box-sizing: border-box;
        padding:18px 10px;
        color: #fff;
        font-size: 14px;
        line-height: 1.5;
        max-height: 100px;
        height: 200px;
        min-height: 44px;
        border: none;
        outline: none;
      }
    }
  }


}
.comments-reply{
  width: 100%;
  height: 100%;
  // padding: 12px;
  background: #010101;
  box-sizing: border-box;
  overflow: auto;
  color: #fff;
  .header{
    text-align: center;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    img{
      width: 20px;
      height: 20px;
    }
  }
  .reply{
    width: 100%;
    height: 54px;
    position: fixed;
    left: 0;
    bottom: 0;
    background: #171d29;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    input{
      width: 80%;
      height: 44px;
      border: none;
      outline: none;
      background: #292A2F;
      padding: 0 12px;
    }
    .comment-footer-right{
      width: 18%;
      height: 44px;
      text-align: center;
      line-height: 44px;
      background: #292A2F;
    }
  }
}


.comment-list{
  height: 320px;
  overflow: auto;
  .list-body{
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    background: #010101;
    border-top: 1px solid #14161a;
    .comment-body{
      width: 100%;
      box-sizing: border-box;
      padding:0 12px;
      .comment-master{
        position: relative;
        width:100%;
        box-sizing: border-box;
        padding-left: 30px;
        padding-top: 10px;
        border-top: 1px solid #14161A;
        .comment-tou{
          position: absolute;
          left:0;
          top: 10px;
          width:30px;
          height:30px;
          background: #ddd;
          border-radius: 50%;
          overflow: hidden;
          img{
            display: inline-block;
            width:100%;
            height: 100%;
          }
        }
        .comment-master-text{
          margin-left: 10px;
          box-sizing: border-box;
          padding-bottom: 10px;
          .comment-header{
            width: 100%;
            .comment-name{
              float: left;
              color: #6b6b77;
            }
            .comment-timer {
              float: right;
              padding:0 7px;
              line-height: 20px;
              font-size:14px;
              font-weight: bold;
              // background-color: #535353;
              background-color: #1125e5;
              border-radius: 3px;
              color: #fff;
            }
            span{
              display: inline-block;
              line-height: 30px;
              font-size:14px;
            }
          }
          .comment-body1{
            font-size: 13px;
            line-height: 1.5;
            color: #c6c6d0;
            word-wrap:break-word;
            span{
              font-size: 14px;
              color:#fff;
            }
            .comment-do{
              width: 100%;
              margin-top: 10px;
              span{
                display: inline-block;
                float: left;
                font-size:13px;
                color: #686872;
                line-height: 1.5;
              }
            }
          }
        }
      }
      .comment-back{
        width: 100%;
        box-sizing: border-box;
        padding-left: 40px;
        .comment-look-back{
          display:block;
          font-size: 13px;
          color: #666;
          line-height: 40px;
          border-top:1px solid #14161a;
        }
        .back-body{
          width: 100%;
          position: relative;
          padding: 10px 0 10px 30px;
          border-top: 1px solid #14161a;
          .back-tou{
            position: absolute;
            left: 0;
            top: 10px;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background:#ddd;
            overflow: hidden;
            img{
              width: 25px;
              height: 25px;
            }
          }
          .back-info{
            width: 100%;
            box-sizing: border-box;
            padding-left: 5px;
            .back-name{
              display:block;
              width: 100%;
              font-size: 14px;
              color: #6b6b77;
              line-height: 20px;
            }
            .back-text{
                display: inline-block;
                width: 100%;
                font-size: 14px;
                color: #fff;
                line-height: 20px;
            }
          }
        }
      }
    }
    .comment-del{
      display:flex;
      position:absolute;
      right:-100px;
      top:0;
      height:100%;
      justify-content:center;
      align-items:center;
      width:90px;
      background:#f00;
      color:#fff;
      font-size:18px;
      text-align:center;
    }
  }
  .sofa{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color:#6b6b77;
    font-size: 18px;
    text-align: center;
    line-height:150px;
    flex-direction: column;
    opacity: 0.6;
    img{
      width: 80px;
      height: 80px;
      font-size: 13px;
    }
    .sofa-text{
      height: 44px;
      line-height: 44px;
      color: #333546;
    }
  }
}


